$def with (form)
$var title: 修改控制文件

<div id="navigator">控制文件管理 &gt;&gt; 修改控制文件</div>
<div id="titleMain">
  <div class="modules">
    <div class="other"><a href="/control" class="other">控制文件列表</a></div>
    <div class="other"><a href="/control/new" class="other">新增控制文件</a></div>
    <div id="current"><a href="" class="current">修改控制文件</a></div>
  </div>
</div>
<div id="tableMain">
  <div id="message"></div>
  <div id="dataForm">
    <form action="" method="post">
      $:form.render()
    </form>
  </div>
</div>
