$def with (products, product_id, actions)
$var title: Action 列表

<script type="text/javascript">
function changeProduct(product_id) {
  location.href = "/action/p/" + product_id;
}
</script>

<div id="navigator">Action 管理 &gt;&gt; Action 列表</div>
<div id="titleMain">
  <div class="modules">
    <div id="current"><a href="/action" class="current">Action 列表</a></div>
    <div class="other"><a href="/action/new" class="other">新增 Action</a></div>
    <div class="unusable">修改 Action</div>
    <div class="unusable">Function 列表</div>
    <div class="unusable">新增 Function</div>
    <div class="unusable">修改 Function</div>
  </div>
</div>
<div id="tableMain">
  <div id="desc">
    所属产品：
    <select name="product_id" onchange="changeProduct(this.value)">
      $for product in products:
        $if product.id == product_id:
          <option value="$product.id" selected="selected">$product.cname</option>
        $else:
          <option value="$product.id">$product.cname</option>
      $if not products:
      <option value="">请先维护产品信息</option>
    </select>
  </div>
  <table id="dataTable" border="0" align="center" cellpadding="5" cellspacing="1"> 
    <tr class="titleTr">
      <td align="center">编号</td>
      <td align="center">名称</td>
      <td align="center">状态</td>
      <td align="center">描述信息</td>
      <td align="center">修改时间</td>
      <td align="center">创建时间</td>
      <td align="center">操作</td>
    </tr>
    $for action in actions:
    <tr>
      <td>$action.serial</td>
      <td>$action.name</td>
      <td align="center">$action.state</td>
      <td>$action.description</td>
      <td align="center">$action.modify_time</td>
      <td align="center">$action.creation_time</td>
      <td align="center">
        <a href="/action/$action.id">查看</a> |
        <a href="/action/$action.id/fun">维护 Function</a> |
      </td>
    </tr>
  </table>
</div>
