$def with (form)
$var title: 新增 Action

<div id="navigator">Action 管理 &gt;&gt; 新增 Action</div>
<div id="titleMain">
  <div class="modules">
    <div class="other"><a href="../action" class="other">Action 列表</a></div>
    <div id="current"><a href="" class="current">新增 Action</a></div>
    <div class="unusable">修改 Action</div>
    <div class="unusable">Function 列表</div>
    <div class="unusable">新增 Function</div>
    <div class="unusable">修改 Function</div>
  </div>
</div>
<div id="tableMain">
  <div id="message"></div>
  <div id="dataForm">
    <form action="" method="post">
      $:form.render()
    </form>
  </div>
</div>
