$def with (form)
$var title: 修改 Action

<div id="navigator">Action 管理 &gt;&gt; 修改 Action</div>
<div id="titleMain">
  <div class="modules">
    <div class="other"><a href="../action" class="other">Action 列表</a></div>
    <div class="other"><a href="../action/new" class="other">新增 Action</a></div>
    <div id="current"><a href="" class="current">修改 Action</a></div>
  </div>
</div>
<div id="tableMain">
  <div id="message"></div>
  <div id="dataForm">
    <form action="" method="post">
      $:form.render()
    </form>
  </div>
</div>
